{% extends "base.html" %}
{% block content %}
<h1>Sign in</h1>
<script>
    function set_openid(openid,pr){
        var u=openid.search('<username>');
        if(u!=-1){
            var user=prompt('please input your username for '+pr+':');
            openid=openid.replace('<username>',user);
        }
        var form=document.forms['login'];
        form.elements['openid'].value=openid;
    }
</script>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        please enter your OpenID: <br>
        {{form.openid(size=80)}} <br>
        {% for error in form.openid.errors %}
        <span style="color: red">[{{error}}]</span>
        {% endfor %}<br>
        {% for pr in providers%}
        <a href="javascript:set_openid('{{pr.url}}','{{pr.name}}')">{{pr.name}}</a> |
        {% endfor %}
    </p>
    <p>{{form.rememberme}} Rememberme</p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}